<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558196312739-uttbgu379du5erj9mf354hnfaj81bpd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558196312739-uttbgu379du5erj9mf354hnfaj81bpd3</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ZSpmXq49uKUn4MF65JBAippgJzs9bKM</string>
	<key>GCM_SENDER_ID</key>
	<string>558196312739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatGpt</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-flutter-12c34</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-flutter-12c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558196312739:ios:7f56e721ecfcccf3ea0d16</string>
</dict>
</plist>